
/*===padding styles=====*/
.padding-none{
    padding:0px!important;
}
.padding-left-none{
    padding-left:0px!important;
}
.padding-right-none{
    padding-right:0px!important;
}
.padding-top-none{
    padding-top:0px!important;
}
.padding-bottom-none{
    padding-bottom:0px!important;
}
.padding-top-bottom-none{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.padding-left-right-none{
    padding-left:0px!important;
    padding-right:0px!important;
}

/*====margin styles====*/
.margin-none{
    margin:0px!important;
}
.margin-left-none{
    margin-left:0px!important;
}
.margin-right-none{
    margin-right:0px!important;
}
.margin-top-none{
    margin-top:0px!important;
}
.margin-bottom-none{
    margin-bottom:0px!important;
}
.margin-top-bottom-none{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.margin-left-right-none {
    margin-left: 0px !important;
    margin-right:0px!important;
}
.margin-top-10{
    margin-top:10px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-top-80{
    margin-top:80px!important;
}



/*============ng-click style============*/

[ng-click],[data-ng-click],a{
    cursor:pointer;
}

a{
    text-decoration:none!important;
}

.text-white{
    color:#fff!important;
}

.header .logo-header {
    max-width: 227px;
    padding-top: 10px;
    margin-left: 3px;
}

@media only screen and (max-width:560px) {
    .header .logo-header {
    max-width: 185px;
    padding-top: 10px;
    margin-left: 3px;
}
}
@media only screen and (max-width:400px) {
    .header .logo-header {
    max-width: 145px;
    padding-top: 10px;
    margin-left: 3px;
}
    }

    ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ee7203;
    border-radius: 5px;
}



/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #000;}


@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


.nav > li > a:focus, .nav > li > a:hover{
    background-color: #ee7203;
    color:#fff;
}

.nav > li > a{
    color:#ee7203;
}

.nav-tabs{
    font-weight:700;
    border-bottom:1px solid #ccc;
}

.nav-tabs > li > a{
    border:none;
    
}

@media(min-width: 768px){
.header_image {
    background-image: url(/images/raxtar-header-home.1280x0.jpg);
    height: 488px;
}
}
.header_image {
    height: 700px;
    overflow: hidden;
    position: relative;
}

@media(min-width: 768px){
.header_image .text {
    font-size: 24px;
    line-height: 29px;
    padding: 42px 10px 48px 20px;
}
}

@media (min-width: 768px){
    .header_image img {
    }
}
.header_image img {
    left: 50%;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header_image .text {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    font-size: 18px;
    letter-spacing: .015em;
    line-height: 19px;
    margin: 74px -3px 0 4px;
    padding: 20px 10px 20px 20px;
    cursor:pointer;
}

.header_image .login_button {
    display: block;
    margin-right: 11px;
}
@media (min-width: 768px){
 .login_button{
    font-size: 27px;
    padding-right: 30px;
}
}
.login_button{
    background: #ee7203;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    letter-spacing: .03em;
    line-height: 30px;
    padding: 12px 25px 11px 10px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    width:100%;
}

.data_loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;
    background: #fff url(../img/loader.gif) no-repeat center center;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    z-index: 9999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.field {
    white-space: nowrap;
    margin: 0px 4px 0px 1px;
}

led {
    background-color: #6f6f6f;
    border: 1px solid #afafaf;
    display: inline-block;
    height: 16px;
    margin-top: 1px;
    vertical-align: top;
    width: 16px;
}

led.green {
    background-color: #007f00;
    border-color: #00ff00;
}

led.red {
    background-color: #7f0000;
    border-color: #ff0000;
}

.grid{
   
    color:#000;
    padding-top: 10px;
    margin-right: 4%;
    padding-left: 10px;
    margin-left:4%;
    /* margin: 5px; */
    background-color: #ccc;
    padding-right: 10px;
    margin-bottom:20px;
    border:1px solid #000;
    border-radius:5px;
}

.grid label{
    width:45%;
    font-weight: 500;
}

.grid .col-lg-3{
    width:31%;
}

.table-striped > tbody > tr:nth-of-type(odd){
    background:#ccc;
    color:#000;
}

.table-striped > tbody > tr:nth-of-type(even){
    color:#000;
}

.skin-purple .sidebar-menu > li:hover > a, .skin-purple .sidebar-menu > li.active > a{
    border-left-color:#ee7203;
}

.skin-purple .main-header .navbar .sidebar-toggle{
    color:#fff !important;
}

.data_loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;
    background: #fff url(../img/loader.gif) no-repeat center center;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    z-index: 9999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.field {
    white-space: nowrap;
    margin: 0px 4px 0px 1px;
}

led{
    background-color: #6f6f6f;
    border: 1px solid #afafaf;
    display: inline-block;
    height: 16px;
    margin-top: 1px;
    vertical-align: top;
    width: 16px;
}

led.green {
    background-color: #007f00;
    border-color: #00ff00;
}

led.red {
    background-color: #7f0000;
    border-color: #ff0000;
}
.col-lg-3.col-md-5.col-xs-12.grid.green {
    background-color: #c7ffd8;
}
.col-lg-3.col-md-5.col-xs-12.grid.red {
    background-color: #ffdcdc;
}
.panel-info .panel-heading-custom{
    background-color: #ee7203;
    color: #ffffff;
}

.table-borderless{
    border:0;
}

.form-group label{
    margin-top:15px;
}

.form-group div{
    /* margin-top:10px;
    margin-bottom:10px; */
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
 
.panel-info > .panel-heading-custom {
    background-color: #ee7203; color:#ffffff ;
}
 
h3.tab{
    margin: 0;
}
 ul .columntab{
    overflow:hidden;
    margin: 0;
    padding: 0;
}
.columntab li a {
 padding: 10px 15px;
    /*background: #ddd;*/
   /* color: #333;*/
    text-decoration: none;
    font-weight: bold;
    display:block;
}
.columntab li{
    display:inline-block;
}
 
.tab-content{
    border: 1px solid #ddd;
    padding: 10px;
    margin:0
}

.columntab .tab {background:#fff !important;color:#000 !important;}

.columntab .tab.active {background:#eb974e !important;color:#fff !important;}

.panel-default > .panel-heading{
    background-color: #eb974e !important;
    color:#fff !important;
    border:none !important;
}

.panel-title a:hover{
    color:#fff !important;
}

.panel-title a:active{
    color:#fff !important;
}


@media (min-width: 768px){
    #overlay {
    width: 84vw;
    height: 100vh;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
}
}

@media (max-width:768px) and (min-width:400px) {
    #overlay {
    width: 100vw;
    height: 100vh;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
}

}​

#overlay {
        width: 84vw;
    height: 100vh;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
}



#overlay i {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.spin-big {
    font-size: 50px;
    height: 30%;
    width: 30%;
 
}
/*infinte scroll*/
.constrained {
    margin: 10px;
    padding: 10px;
    height: 200px;
    overflow: auto;
    border: 1px solid lightgray;
}

.blok1 {
  height: 100%;
  background-image: url(../images/city-wallpaper-7.jpg);
  background-position: center center;
  background-size: cover; 

}

.blokinner{   
   background: rgba(255, 255, 255, 0.7);
    color: #333;
    font-size: 18px;
    letter-spacing: .015em;
    line-height: 19px;
     margin: 3% 0 0 3%;
     padding:1%
     
}
.hoistRowMenuIcon:after{
 content: '\2807';
  font-size: 14px;
}
.hoistRowMenu{
     width: 166px;
    background-color: #f9f9f9;
    z-index: 3;
    position: absolute;
    margin-left: -161px;
    margin-top: -5px;
    box-shadow: black;
    border: 1px solid lightgrey;
    border-radius: 1px;
    font-size: larger;
}
.hoistRowMenu div{
        border-bottom: 1px solid #efeeee;
}
.angucomplete-dropdown {
    
    overflow-y: scroll;
    max-height: 200px; 
   
}
.modal-header{
    background-color: #ee7203;
}
.modal-title{
    color: white;
}
.modal-body{
    background-color: #f9f9f9;
    min-height: 150px;
}

.form-button{
    text-align: center;
}
.messageModalDiv{
    text-align: center;
}

.messageModalDiv div{
    margin-top: 5%;
}
.modalButtonDiv{
    margin-top:15% !important;
}
.mandatoryFieldsError{
    text-align: center;
    
}
.mandatoryFieldsError span{
    color: red;
}
.autoCompleteDropdown{
    padding-left: 0px;
    /* margin-left: -45px;; */
    float: right;
    margin-top: -33px !important;
}