﻿<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<div class="header" id="logoHeader">

			<div class="row"
				style="margin-left: -15px; border-bottom: 2px solid #e99d1a">
				<div class="col-xs-12" style="margin-bottom: 10px;">
					<div class="logo-header">
						<a href="/"><img src="images/logo.png" class="img-responsive"
							alt="logo"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" style="background: #000;"
			role="navigation">
			<!-- Sidebar toggle button-->
			<a class="sidebar-toggle" data-toggle="offcanvas" role="button"
				data-ng-click="vm.sideBar(1);"> <span class="sr-only">Toggle
					navigation</span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li class="user user-menu"><a class=""> <img
							src="../../images/profile.jpeg" class="user-image"
							alt="User Image" /> <span class="hidden-xs"
							style="color: #ee7203 !important;">{{username |
								uppercase}}</span>
					</a></li>
				</ul>
		</nav>
	</header>
	
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar -->
		<section class="sidebar">
			<div class="user-panel">
				<div class="pull-left info">
					<p>RXControl</p>
				</div>
			</div>
			<!-- Sidebar user panel -->
			<ul class="sidebar-menu">
				<li class="treeview" ui-sref-active="active"
					ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" ng-if="userAccess.permissions.indexOf(menu.readAccess) > -1 || menu.readAccess===undefined">
					<a ui-sref="app.{{menu.state}}"> <i class="fa fa-{{menu.icon}}"></i>
						<span>{{menu.title}}
						</span>
				</a>
				</li>
						
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<ui-view></ui-view>
	</div>

	<footer class="main-footer" style="position:fixed;left:0;right:0;bottom:0;font-size:12px;">
		<div class="pull-right hidden-xs">
			<b>RXControl </b> version 2.0.2.r863
		</div>
		<strong>Copyright &copy; <a href="http://www.centurus.it"
			target="_blank">Centurus IT bv</a>.
		</strong> All rights reserved.
	</footer>
</div>
