﻿<section class="content-header" style="border-radius: 0px 0px 5px 5px;background:#ee7203;">
   <ul class="topnav" id="myTopnav" >
      <li><a href="#" ng-if="userAccess.permissions.indexOf('addControllers') > -1">Add Controller</a></li>
      <li>
         <form style="text-align: center;width: 250px;display: inline-block;margin-left: 20%;margin-top: 10px;">
            <div class="form-group" style="margin-bottom:5px;">
               <div class="input-group">
                  <div class="input-group-addon">
                     <i class="fa fa-search"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="Search Controller"
                     ng-model="searchFish">
               </div>
            </div>
         </form>
      </li>
   </ul>
   <ol class="breadcrumb" style="color:#fff !important;font-style:16px !important;font-weight:500;">
      <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active" style="color:#fff !important;font-style:16px !important;font-weight:500;">Controllers</li>
   </ol>
</section>
<!-- Main content -->
<spinner></spinner>
<section class="content" style="background:#fff;">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12"> 

         
         <table wt-responsive-table class="table table-striped">
            <thead>
               <tr>
                  <th ng-click='sortColumn("hoist.hoistNumber")'>Hoist
                      &nbsp; <span ng-show="column == 'hoist.hoistNumber'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
                  <th ng-click='sortColumn("imei")'>IMEI
                     &nbsp; <span ng-show="column == 'imei'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
                  <th ng-click='sortColumn("sim.iccId")'>ICCID
                     &nbsp; <span ng-show="column == 'sim.iccId'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
                  <th ng-click='sortColumn("sim.phone")'>Phone
                     &nbsp; <span ng-show="column == 'sim.phone'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
                  <th ng-click='sortColumn("activated")'>Activated
                     &nbsp; <span ng-show="column == 'activated'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
                  <!--th ng-click='sortColumn("plcType.name")'>PLC type
                     &nbsp; <span ng-show="column == 'plcType.name'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th-->
                  <th ng-click='sortColumn("company.name")'>Company
                     &nbsp; <span ng-show="column == 'company.name'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
                  <th ng-click='sortColumn("name")'>Status
                     &nbsp; <span ng-show="column == 'name'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                  </th>
               </tr>
            </thead>
               <tr ng-repeat="item in controllersData | filter:searchFish | orderBy:column:reverse ">
                  <td>{{item.hoist.hoistNumber}}</td>
                  <td>{{item.imei}}</td>
                  <td>{{item.sim.iccId}}</td>
                  <td>{{item.sim.phone}}</td>
                  <td>{{item.activated}}</td>
                  <!--td>{{item.plcType.name}}</td-->
                  <td>{{item.company.name}}</td>
                  <td>
                     <status data="getById(item.controllerId)"></status><span style="display:none;">{{item.controllerId;item.statusIndex = getById(item.controllerId).led=='grey'? 2 : getById(item.controllerId).led=='green' ? 1 : 0}}</span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</section>
<!-- /.content -->