﻿<!-- Content Header (Page header) -->
<section class="content-header" style="border-radius: 0px 0px 5px 5px; background: #ee7203;">
    <ul class="topnav" id="myTopnav">
        <li><a ng-click="addHoist()" data-toggle="modal" data-target="#myModal" ng-if="userAccess.permissions.indexOf('addHoists') > -1">Add hoist</a></li>
        <li><a href="#">Location {{selectedIndex}} {{$index}}</a></li>
        <li>
            <form style="text-align: center; width: 250px; display: inline-block; margin-left: 20%; margin-top: 10px;">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Search Hoists" ng-model="searchFish" ng-blur="setSearchData()">
                    </div>
                </div>
            </form>
        </li>
        <li>{{formMessage}}</li>
    </ul>
    <ol class="breadcrumb" style="color: #fff !important; font-style: 16px !important; font-weight: 500;">
        <li><a ui-sref="app.dashboard" href="#/app/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active" style="color: #fff !important; font-style: 16px !important; font-weight: 500;">Hoists</li>
    </ol>
</section>
<!-- Main content -->
<spinner></spinner>
<section class="content" scroll style="background: #fff;" ng-click="globalClickHandler()">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <script type="text/ng-template" id="listView.html">
                <div style="border:1px solid #ccc;border-radius:5px;">


                    <table wt-responsive-table class="table table-striped table-hover">

                        <thead>
                            <tr>
                                <th ng-click='sortColumn("hoistNumber")'>
                                    Number &nbsp; <span ng-show="column == 'hoistNumber'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <th ng-click='sortColumn("hoistType")'>Type &nbsp;
                                    <span ng-show="column == 'hoistType'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <!--th ng-click='sortColumn("plc")'>Plc &nbsp;
                                    <span ng-show="column == 'plc'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th-->
                                <th ng-click='sortColumn("description")'>Description &nbsp;
                                    <span ng-show="column == 'description'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <th ng-click='sortColumn("companyName")'>Company &nbsp;
                                    <span ng-show="column == 'companyName'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <th ng-click='sortColumn("locationName")'>Location &nbsp;
                                    <span ng-show="column == 'locationName'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <th ng-click='sortColumn("activated")'>Activated &nbsp;
                                    <span ng-show="column == 'activated'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <th ng-click='sortColumn("statusIndex")'>Status
                                    <span ng-show="column == 'statusIndex'"><i class="fa fa-angle-down" ng-show="!reverse"></i><i class="fa fa-angle-up" ng-show="reverse"></i></span>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="navTo(item.hoistId)" ng-repeat="item in hoistsDataFilter =(hoistsData | limitTo:numberToDisplay |orderBy:column:reverse  | filter:searchFish) track by item.hoistId"
                                ng-if="!item.removed">

                                <td>{{item.hoistNumber}}</td>
                                <td>{{item.hoistType}}</td>
                                <!--td>{{item.plc}}</td-->
                                <td>{{item.description}}</td>
                                <td>{{item.companyName}}</td>
                                <td>{{item.locationName}}</td>
                                <td>{{item.activated}}</td>
                                <td>
                                    <status data="getById(item.hoistId)"></status>
                                </td>
                                <td ng-click="$event.stopPropagation()"><span class="hoistRowMenuIcon" ng-click="showHoistRowMenu($event,$index)"></span>
                                    <div class="hoistRowMenu" ng-if="$index == selectedIndex">
                                        <div ng-if="userAccess.permissions.indexOf('editHoists') > -1" ng-click="editHoist(item)">Edit</div>
                                        <div ng-really-click="reallyDelete(item.hoistId, item.hoistNumber)" item="item">Delete</div>
                                        <div ng-click="navTo(item.hoistId)">Go To Hoist Dashboard</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </script>
            <script type="text/ng-template" id="gridView.html">
                <div style="margin-top:15px;">
                    <div ng-click="navTo(item.hoistId)" class="col-lg-3 col-md-5 col-xs-12 grid" ng-class="item.statusColor" style="min-height:225px;"
                        ng-repeat="item in hoistsData | filter:searchFish track by item.hoistId" ng-if="!item.removed">
                        <div><label>Number:</label>{{item.hoistNumber}}</div>
                        <div><label>Plc:</label>{{item.plc}}</div>
                        <div><label>Description:</label>{{item.description}}</div>
                        <div><label>Company:</label>{{item.companyName}}</div>
                        <div><label>Location:</label>{{item.locationName}}</div>
                        <div><label>Activated:</label>{{item.activated}}</div>
                        <div><label>Status:</label>
                            <status data="getById(item.hoistId)"></status>
                        </div>
                    </div>
                </div>
            </script>
            <div class="container" style="padding-left: 0px; padding-right: 0px; width: 100%;">
                <div class="row" style="margin: 0px;">
                    <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                        <ul class="nav nav-tabs" id="myTopnav">
                            <li><a href="" class="active" ng-click="Events.viewChange('listView.html')">List View</a></li>
                            <li><a href="" ng-click="Events.viewChange('gridView.html')">Grid
									View</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="tpl-content" ng-include="currentView"></div>
        </div>
    </div>
</section>
<modal title="Hoists" visible="showModal">
    <form name="hoistForm" ng-submit="submitHoistForm(hoistForm);hoistForm.reset()" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label>Number:</label>
                <input type="text" class="form-control" name="hoistNumber" ng-model="hoistFormData.hoistNumber" required>
            </div>
            <div class="form-group col-sm-6">
                <label>Type:</label>
                <div angucomplete-alt id="ex0" placeholder="Hoist Type" pause="100" selected-object="hoistFormData.hoistType" local-data="hoistTypesData"
                    initial-value="editForm.hoistTypesData" search-fields="label" title-field="label" minlength="0" input-class="form-control form-control-small"
                    match-class="highlight" focus-in="focusIn('ex0')"></div>
                <!-- <input type="text" class="form-control" name="hoistType" ng-model="hoistFormData.hoistType" required> -->
                <div class="col-sm-1 autoCompleteDropdown"> <i class="fa fa-angle-down fa-2x" ng-click="clearAutoComplete('ex0')" tabindex="-1"></i></div>
            </div>


        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label>Company <span style="color:red;">*</span>:</label>
                <!-- <input type="number" class="form-control" name="companyId" ng-model="hoistFormData.companyId" required> -->

                <div angucomplete-alt id="ex1" input-name="companyId" placeholder="Companies" pause="100" selected-object="hoistFormData.companyId"
                    local-data="companyData" initial-value="editForm.Company" search-fields="label" title-field="label" minlength="0"
                    input-class="form-control form-control-small" field-required="true" focus-first="false" match-class="highlight"
                    focus-in="focusIn('ex1')"></div>
                <div class="col-sm-1 autoCompleteDropdown"> <i class="fa fa-angle-down fa-2x" tabindex="-1" ng-click="clearAutoComplete('ex1')"></i></div>
            </div>
            <div class="form-group col-sm-6">
                <label>Location <span style="color:red;">*</span>:</label>
                <!-- <input type="number" class="form-control" name="locationId" ng-model="hoistFormData.locationId" required> -->
                <div angucomplete-alt id="ex2" input-name="locationId" placeholder="Location" pause="100" selected-object="hoistFormData.locationId"
                    local-data="locationData" initial-value="editForm.Location" search-fields="label" title-field="label" minlength="0"
                    input-class="form-control form-control-small" field-required="true" focus-first="false" match-class="highlight"
                    focus-in="focusIn('ex2')"></div>
                <div class="col-sm-1 autoCompleteDropdown"> <i class="fa fa-angle-down fa-2x" tabindex="-1" ng-click="clearAutoComplete('ex2')"></i></div>
            </div>

        </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label>Description:</label>
                <input type="text" class="form-control" name="description" ng-model="hoistFormData.description" required>
            </div>

            <div class="form-group col-sm-6">
                <label>Controller:</label>
                <!-- <input type="number" class="form-control" name="controllerId" ng-model="hoistFormData.controllerId" required> -->
                <div angucomplete-alt id="ex3" placeholder="Controller" pause="100" selected-object="hoistFormData.controllerId" local-data="controllersData"
                    search-fields="label" initial-value="editForm.Controller" title-field="label" minlength="0" input-class="form-control form-control-small"
                    match-class="highlight" focus-in="focusIn('ex3')"></div>
                <div class="col-sm-1 autoCompleteDropdown"> <i class="fa fa-angle-down fa-2x" ng-click="clearAutoComplete('ex3')" tabindex="-1"></i></div>
            </div>
        </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-12">
                <label>Note:</label>
                <textarea class="form-control" name="note" ng-model="hoistFormData.note" required></textarea>
            </div>
        </div>
        <div class="col-sm-12 mandatoryFieldsError">
            <span>{{formSubmitMessage}}</span>
        </div>
        <!-- -->
        <!-- SUBMIT BUTTON -->
        <div class="form-button">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>
</modal>
<modal title="Hoists Message" visible="showMessageModal">
    <div class="messageModalDiv">
        <div class="alert alert-success" ng-if="messageModalType=='success'">
            <strong>Success!</strong> {{messageModalText}}
        </div>
        <div class="alert alert-danger" ng-if="messageModalType=='error'">
            <strong>Failed!</strong> {{messageModalText}}
        </div>
        <div class="alert alert-info" ng-if="messageModalType=='info'">
            <strong>Info!</strong> {{messageModalText}}
        </div>
        <div class="modalButtonDiv">
            <button class="btn btn-primary" ng-click="closeModal()">Close</button>
        </div>
    </div>
</modal>