
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Not yet implemented!</h4>
			</div>
			<div class="modal-body">
				<p>Not yet implemented!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<section class="content-header"
	style="border-radius: 0px 0px 5px 5px; background: #ee7203;">
	<ul class="topnav" id="myTopnav">
		<li><a href="#">Hoists</a></li>
		<!-- <li><a href="#">Show Log</a></li>
		<li><a href="#">Show Maps</a></li> -->
	</ul>
	<ol class="breadcrumb"
		style="color: #fff !important; font-style: 16px !important; font-weight: 500;">
		<li><a> <i class="fa fa-dashboard"></i> Dashboard

		</a></li>
		<li class="active"
			style="color: #fff !important; font-style: 16px !important; font-weight: 500;">Hoists</li>
	</ol>
</section>

<spinner ng-if="dataLoading===true"></spinner>

<!-- Development content -->
<section class="content" style="background: #fff;">
	<div class="accordion" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse"
						data-target="#collapseOne" aria-expanded="true"> Info
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="collapse in" aria-expanded="true">
				<div class="accordion-inner">
					<table class="table">
						<thead></thead>
						<tbody>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">Number in database</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.hoistNumber}}</td>
							</tr>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">Type</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.hoistType}}</td>
							</tr>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">PLCType</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.plc}}</td>
							</tr>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">Description</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.description}}</td>
							</tr>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">Company</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.companyName}}</td>
							</tr>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">Location</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.locationDescription}}</td>
							</tr>
							<tr>
								<td class="col-xs-6 col-md-6 col-lg-6">Note</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{hoist.note}}</td>
							</tr>
						</tbody>
					</table>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		
		<div ng-if="hoist.plc !== 'S71500'" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse"
						data-target="#collapsePosition"  aria-expanded="true">
						Position </a>
				</h4>
			</div>
			<div id="collapsePosition" class="collapse in" aria-expanded="true">
				<div class="accordion-inner">
					<table class="table">
						<thead></thead>
						<tr>
							<td class="col-xs-6 col-md-6 col-lg-6">Current Floor</td>
							<td class="col-xs-6 col-md-6 col-lg-6">{{hoistsStatusDashboard.currentFloor}}</td>
						</tr>
						<tr>
							<td class="col-xs-6 col-md-6 col-lg-6">Next Floor</td>
							<td class="col-xs-6 col-md-6 col-lg-6">{{hoistsStatusDashboard.nextFloor}}</td>
						</tr>
						<tr>
							<td class="col-xs-6 col-md-6 col-lg-6">Encoder position</td>
							<td class="col-xs-6 col-md-6 col-lg-6">{{hoistsStatusDashboard.encoderPosition}}</td>
						</tr>
						<tr>
							<td class="col-xs-6 col-md-6 col-lg-6">Direction</td>
							<td class="col-xs-6 col-md-6 col-lg-6">{{hoistsStatusDashboard.direction}}</td>
						</tr>
						<tr>
							<td class="col-xs-6 col-md-6 col-lg-6">Highest Gate open</td>
							<td class="col-xs-6 col-md-6 col-lg-6">{{hoistsStatusDashboard.highestGateOpen}}</td>
						</tr>
						</tbody>
					</table>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		
		<div ng-if="hoist.plc !== 'S71500'" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse"
						data-target="#collapseTwo" > Status </a>
				</h4>
			</div>
			<div id="collapseTwo" class=" collapse">
				<div class="accordion-inner">
					<br>
					<ul class="columntab">
						<li class="tab" ng-class="{active:tab==1}"><a href
							ng-click="tab = 1">Movements</a></li>
						<li class="tab" ng-class="{active:tab==2}"><a href
							ng-click="tab = 2">Hours</a></li>
						<li class="tab" ng-class="{active:tab==3}"><a href
							ng-click="tab = 3">Greasing</a></li>
						<li class="tab" ng-class="{active:tab==4}"><a href
							ng-click="tab = 4">Phone numbers</a></li>
					</ul>
					<div class="tab-content" ng-show="tab==1">
						<table class="table">
							<thead></thead>
							<tbody>
								<tr>
									<td class="col-xs-6 col-md-6 col-lg-8">Current Movements :
										{{hoistsStatusDashboard.currentMovements}}</td>
								</tr>
								<tr>
									<td class="col-xs-6 col-md-8 col-lg-6">Total movements :
										{{hoistsStatusDashboard.totalMovements}}</td>
								</tr>
								<tr>
									<td class="col-xs-6 col-md-8 col-lg-6"><a href="#">Reset
											Movements</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-content" ng-show="tab==2">
						<table class="table">
							<thead></thead>
							<tbody>
								<tr>
									<td class="col-xs-6 col-md-6 col-lg-8">Current Hours :
										{{hoistsStatusDashboard.currentHours}}</td>
								</tr>
								<tr>
									<td class="col-xs-6 col-md-8 col-lg-6">Total Hours :
										{{hoistsStatusDashboard.totalHours}}</td>
								</tr>
								<tr>
									<td class="col-xs-6 col-md-8 col-lg-6"><a href="#">Reset
											Hours</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-content" ng-show="tab==3">
						<div class="form-group">
							<label for="phone">Greasing on:</label> <input type="text"
								class="form-control" id="Phone">
						</div>
						<div class="form-group">
							<label for="phone">Greasing off:</label> <input type="text"
								class="form-control" id="Phone">
						</div>
					</div>
					<div class="tab-content" ng-show="tab==4">
						<div class="form-group">
							<label for="phone">Phone #1:</label> <input type="text"
								class="form-control" id="Phone">
						</div>
						<div class="form-group">
							<label for="phone">Phone #2:</label> <input type="text"
								class="form-control" id="Phone">
						</div>
						<div class="form-group">
							<label for="phone">Phone #3:</label> <input type="text"
								class="form-control" id="Phone">
						</div>
						<div class="form-group">
							<label for="phone">Phone #4:</label> <input type="text"
								class="form-control" id="Phone">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse"
						data-target="#collapseThree" >Log</a>
				</h4>
			</div>
			<div id="collapseThree" class=" collapse">
				<div class="accordion-inner">
					<table class="table table-fixed">
						<thead></thead>
						<tbody>
							<tr ng-repeat="info in hoistsDashboardLogItems">
								<td class="col-xs-6 col-md-6 col-lg-6">{{info.timestampString}}</td>
								<td class="col-xs-6 col-md-6 col-lg-6">{{info.logStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div ng-repeat="(panelTitle, panelItems) in hoistsDashboardPanels"
			class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse"
						data-target="#collapse{{$index}}">{{panelTitle}}</a>
				</h4>
			</div>
			<div id="collapse{{$index}}" class=" collapse">
				<div class="accordion-inner">
					<table class="table">
						<thead></thead>
						<tbody>
							<tr ng-repeat="item in panelItems">
								<td ng-if="item.type === null || item.type === 1" class="col-xs-3 col-md-3 col-lg-3"><status
										data="getFieldById(item)"></status></td>
								<td ng-if="item.type === null || item.type === 1" class="col-xs-9 col-md-9 col-lg-9">{{item.labelText}}</td>
								<td ng-if="item.type !== null && item.type !== 1" class="col-xs-6 col-md-6 col-lg-6">{{item.labelText}}</td>
								<td ng-if="item.type !== null && item.type !== 1" class="col-xs-6 col-md-6 col-lg-6">{{getFieldById(item).value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
