﻿<section class="content-header" style="background: #ee7203;">
	<ul class="topnav" id="myTopnav">
		<li><a href="#">Overview</a></li>
	</ul>
	<ol class="breadcrumb" style="color: #fff !important; font-style: 16px !important; font-weight: 500;">
		<li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active" style="color: #fff !important; font-style: 16px !important; font-weight: 500;">Overview</li>
	</ol>
</section>
<section class="content">
	<!-- Info boxes -->
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 15px;"
			data-ng-repeat="data in vm.home.mainData" ng-if="userAccess.permissions.indexOf(data.readAccess) > -1 || data.readAccess===undefined">
			<a href="{{data.link}}">
				<div class="info-box">
					<span class="info-box-icon bg-{{data.theme}}"> <i
						class="fa fa-{{data.icon}}"></i>
					</span>
					<div class="info-box-content">
						<span class="info-box-text">{{data.title}}</span> <span
							class="info-box-number">{{data.value}}</span>
					</div>
					<!-- /.info-box-content -->
				</div> <!-- /.info-box -->
			</a>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->