﻿<section class="content-header" style="border-radius: 0px 0px 5px 5px;background:#ee7203;">
   <ul class="topnav" id="myTopnav" >
      <li><a href="#" ng-if="userAccess.permissions.indexOf('addLocations') > -1">Add Location</a></li>
      <li>
         <form style="text-align: center;width: 250px;display: inline-block;margin-left: 20%;margin-top: 10px;">
            <div class="form-group" style="margin-bottom:5px;">
               <div class="input-group">
                  <div class="input-group-addon">
                     <i class="fa fa-search"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="Search Location"
                     ng-model="searchFish">
               </div>
            </div>
         </form>
      </li>
   </ul>
   <ol class="breadcrumb" style="color:#fff !important;font-style:16px !important;font-weight:500;">
      <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active" style="color:#fff !important;font-style:16px !important;font-weight:500;">Locations</li>
   </ol>
</section>
<!-- Main content -->
<spinner></spinner>
<section class="content" style="background:#fff;">
   <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12">       
         <table wt-responsive-table class="table table-striped">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Address</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in locationData | filter:searchFish">
                  <td>{{item.locationName}}</td>
                  <td>{{item.country}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.address}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</section>
<!-- /.content -->