﻿<div class="header" style="background:#000;">
   <div class="row" style="margin-left:0px !important;border-bottom:2px solid #e99d1a">
      <div class="col-xs-12 " style="margin-bottom:10px;">
         <div class="logo-header">
            <a href="/"><img src="images/logo.png" class="img-responsive" alt="logo"></a>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid blok1">
   
   <div class="row">
      <div class="col col-md-6 col-lg-4 col-lg-offset-1 col-xl-3 blokinner">
        
            <h3>Login</h3>
            <form class="form">
               <div class="form-group">
                  <input type="text" class="form-control" ng-model="username" placeholder="Username" required=""/>
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" ng-model="password" placeholder="Password" required=""/>
               </div>
               
               <div>
                 <button type="submit" class="login_button" ng-click="Events.DashBoard();">
                  Login</button><br/>
                  <!-- <span class="text-danger">{{ error }}</span> -->
               </div>
               
            </form>
            <!-- <p><a href="#/MainDashboard" >Contact us</a></p> -->
      
      </div>
   </div>
</div>