﻿<!-- Content Header (Page header) -->
<section class="content-header" style="border-radius: 0px 0px 5px 5px;background:#ee7203;">
      <ul class="topnav" id="myTopnav">
            <li><a ng-click="addUser()" ng-if="userAccess.permissions.indexOf('addUsers') > -1">Add User</a></li>
            <li>
                  <form style="text-align: center;width: 250px;display: inline-block;margin-left: 20%;margin-top: 10px;">
                        <div class="form-group" style="margin-bottom:5px;">
                              <div class="input-group">
                                    <div class="input-group-addon">
                                          <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search User" ng-model="searchFish">
                              </div>
                        </div>
                  </form>
            </li>
      </ul>
      <ol class="breadcrumb" style="color:#fff !important;font-style:16px !important;font-weight:500;">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active" style="color:#fff !important;font-style:16px !important;font-weight:500;">Users</li>
      </ol>
</section>
<!-- Main content -->
<spinner></spinner>
<section class="content" style="background:#fff;">
      <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12">
                  <table wt-responsive-table class="table table-striped">
                        <thead>
                              <tr>
                                    <th>Name</th>
                                    <th>FullName</th>
                                    <th>Company</th>
                                    <th>Roles</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr ng-repeat="item in usersData | filter:searchFish">
                                    <td>{{item.name}}</td>
                                    <td>{{item.fullName}}</td>
                                    <td>{{item.companyName}}</td>
                                    <td><span ng-repeat="role in item.roles">{{role}}<span ng-if="!$last">, </span></span>
                                    </td>
                                    <td ng-click="$event.stopPropagation()"><span class="hoistRowMenuIcon" ng-click="showUserRowMenu($event,$index)"></span>
                                          <div class="hoistRowMenu" ng-if="$index == selectedIndex">
                                                <div ng-click="editUser(item)">Edit</div>
                                                <div ng-click="deleteUser(item.hoistId)">Delete</div>
                                                
                                          </div>
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</section>
<!-- /.content -->
<modal title="Users" visible="showModal">

      <form name="userForm" ng-submit="submitUserForm(userForm);userForm.reset()" novalidate>
            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->


            <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="userName" ng-model="userFormData.userName" required>
            </div>

            <div class="form-group">
                  <label>Password:</label>
                  <input type="password" class="form-control" name="userPassword" ng-model="userFormData.userPassword" required>
            </div>


            <div class="form-group">
                  <label>Full Name:</label>
                  <input type="text" class="form-control" name="fullName" ng-model="userFormData.fullName" required>
            </div>
            <div class="form-group">
                  <label>Company:</label>
                  <!-- <input type="number" class="form-control" name="companyId" ng-model="userFormData.companyId" required> -->
                  <div angucomplete-alt id="ex1" placeholder="Companies" pause="100" selected-object="userFormData.companyId" local-data="companyData"
                        initial-value="editForm.Company" search-fields="label" title-field="label" minlength="0" input-class="form-control form-control-small"></div>
            </div>
            <div class="form-group">
                  <label>Roles:</label>
                  <input type="checkbox" name="admin" value="Bike">Admin
                  <input type="checkbox" name="Restricted" value="Car">Restricted
                  <input type="checkbox" name="Monitor" value="Bike">Monitor
                  <input type="checkbox" name="Reporter" value="Car">Reporter
                  <input type="checkbox" name="Demo" value="Car">Demo
            </div>

            <div class="form-group">
                  <label>Email:</label>
                  <input type="email" class="form-control" name="email" ng-model="userFormData.email" required>
            </div>

            <div class="form-group">
                  <label>Phone:</label>
                  <input type="text" class="form-control" name="fullName" ng-model="userFormData.phone" required>
            </div>
            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-primary">Submit</button>

      </form>
</modal>